version: '3'
services:
  postgres:
    image: postgres:15
    container_name: postgres
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
      POSTGRES_DB: postgres
      PGDATA: /data/postgres
    volumes:
      - ./postgres:/data/postgres
    ports:
      - 5432:5432
    restart: unless-stopped
  observation-data:
    image: andrejhr/observation:spring-plugin
    environment:
      spring.datasource.url: jdbc:postgresql://postgres:5432/observation
    ports:
      - 8085:8080
    depends_on:
      - postgres

