version: '3'
services:
  postgres:
    image: postgres:15
    container_name: postgres
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
      POSTGRES_DB: postgres
      PGDATA: /data/postgres
      DATABASE_HOST: postgres
      POSTGRES_MULTIPLE_DATABASES: postgres_observation, postgres_users, postgres_places
    volumes:
      - ./init-multi-postgres-databases.sh:/docker-entrypoint-initdb.d/init-multi-postgres-databases.sh
      - ./postgres:/data/postgres
    ports:
      - 5432:5432
    restart: unless-stopped

  observationdata-service:
    image: andrejhr/observation:spring-plugin
    environment:
      DATABASE_HOST: postgres
      DATABASE_PORT: 5432
      DATABASE_NAME: postgres_observation
      DATABASE_USER: postgres
      DATABASE_PASSWORD: password
    ports:
        - 8085:8080
    depends_on:
        - postgres
